.categories-section {}

.categories {}

.checkbox-label label {
    width: 100% !important;
    display: block !important;
}

.checkbox-p {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}